@use "theme/tokens" as *

*, *::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0

html
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

body
  background-color: $color-bg-primary
  width: 412px
  margin: 0 auto