:root
  --color-bg-primary: hsl(0, 0%, 90%)
  --color-bg-secondary: hsl(0, 5%, 81%)
  --color-bg-screen: hsl(0, 0%, 93%)

  --color-key-func-bg: hsl(185, 42%, 37%)
  --color-key-func-shadow: hsl(185, 58%, 25%)

  --color-key-accent-bg: hsl(25, 98%, 40%)
  --color-key-accent-shadow: hsl(25, 99%, 27%)

  --color-key-primary-bg: hsl(0, 0%, 90%)
  --color-key-primary-shadow: hsl(35, 11%, 61%)

  --color-text-primary: hsl(60, 10%, 19%)
  --color-text-screen: hsl(0, 100%, 100%)
  --color-text-inverse: hsl(0, 100%, 100%)