:root.theme-contrast
  --color-bg-primary: hsl(268, 75%, 9%)
  --color-bg-secondary: hsl(268, 71%, 12%)
  --color-bg-screen: hsl(268, 71%, 12%)

  --color-key-func-bg: hsl(281, 89%, 26%)
  --color-key-func-shadow: hsl(285, 91%, 52%)

  --color-key-accent-bg: hsl(176, 100%, 44%)
  --color-key-accent-shadow: hsl(177, 92%, 70%)

  --color-key-primary-bg: hsl(268, 47%, 21%)
  --color-key-primary-shadow: hsl(290, 70%, 36%)

  --color-text-primary: hsl(52, 100%, 62%)
  --color-text-screen: hsl(0, 100%, 100%)
  --color-text-inverse: hsl(198, 20%, 13%)