$color-bg-primary: var(--color-bg-primary);
$color-bg-secondary: var(--color-bg-secondary);
$color-bg-screen: var(--color-bg-screen);

$color-key-primary-bg: var(--color-key-primary-bg);
$color-key-primary-shadow: var(--color-key-primary-shadow);

$color-key-func-bg: var(--color-key-func-bg);
$color-key-func-shadow: var(--color-key-func-shadow);

$color-key-accent-bg: var(--color-key-accent-bg);
$color-key-accent-shadow: var(--color-key-accent-shadow);

$color-text-primary: var(--color-text-primary);
$color-text-screen: var(--color-text-screen);
$color-text-inverse: var(--color-text-inverse);