@use "utils/variables" as *
@use "theme/tokens" as *

.header
  color: $color-text-primary

  &__container
    display: flex
    justify-content: space-between
    align-items: center
    width: $edge-width
    margin: $space-md auto
  